USE [COMPANY]
GO
/****** Object:  Table [dbo].[COMPANY]    Script Date: 16/04/2026 04:48:13  ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPANY](
	[ID] [int] NOT NULL,
	[Name] [nchar](50) NOT NULL,
	[Age] [smallint] NULL,
	[Address] [nvarchar](max) NULL,
	[Salary] [decimal](18, 0) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[COMPANY] ([ID], [Name], [Age], [Address], [Salary]) VALUES (1, N'Ha Anh                                            ', 32, N'Da Nang', CAST(2000 AS Decimal(18, 0)))
INSERT [dbo].[COMPANY] ([ID], [Name], [Age], [Address], [Salary]) VALUES (2, N'Van Ha                                            ', 25, N'Ha Noi', CAST(1500 AS Decimal(18, 0)))
INSERT [dbo].[COMPANY] ([ID], [Name], [Age], [Address], [Salary]) VALUES (3, N'Vu Bang                                           ', 23, N'Vinh', CAST(2000 AS Decimal(18, 0)))
GO
